<!DOCTYPE html>
<html ng-app="menuModule">
<head>
  <title>GroupProject</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>

<body>

<nav><a href="#">Home</a> | <%= user_login_links %></nav>
				<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
